body{
    background-color: white;
    color: rgb(165, 161, 161);
}
.container{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.fa-shield-dog{
    margin-top: 70px;
    color: bisque;
    font-size: 70px;
}
.header a{
    text-decoration: none;
    color: rgb(124, 120, 120);
    font-weight: 600;
    font-size: 20px;
    background-color: bisque;
    padding: 20px 50px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    border: black;
}
.botton{
    margin: 90px 0;
}
.header a:hover{
    background-color: lightgreen;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}
.header h1{
    font-size: 50px;
    font-weight: lighter;
    color: rgb(124, 120, 120);
    font-family: serif;
}
.images div{
    display: inline-block;
}
.images p{
    opacity: 0;
}
.images div:hover p{
    opacity: 1;
    transition: opacity 1s;
}
.images img{
    filter: grayscale(100%);
    width: 35px;
    padding: 5px;
}
.images img:hover{
    filter: grayscale(0%);
}
.release{
    margin: 70px 0 120px 0;
}
.release a{
    text-decoration: none;
    color: rgb(233, 175, 104);
}
footer div{
    display: inline-block;
    margin: 30px;
}
footer a{
    text-decoration: none;
    color: rgb(165, 161, 161);
}
.codekit{
    text-align: right;
}
.brain{
    text-align: left;
}
footer a h2 i{
    background-color: darkslategrey;
    color: white;
    border-radius: 100%;
    padding: 8px;
}
footer a h3 i{
    border-radius: 100%;
    padding: 12px;
    color: rgb(233, 175, 104);
}
.about{
    font-size: 13px;
}
.about a{
    text-decoration: none;
    color: rgb(233, 175, 104);
}
.about p{
    padding: 1px;
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 450px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.notification.loaded {
    opacity: 1;
    /* transform: translateX(calc(10% + 0px)); 
    transform: translateY(0); */
}
.notification.loaded.two{
    opacity: 0;
}
.notification-inner {
    display: flex;
    padding: 10px;
}

.notification-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.notification-body {
    flex: 1;
}

.notification-body-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.notification-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.notification-actions-top,
.notification-actions-bottom {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
}

